.card {
    overflow: hidden;
    width: 67px;
    height: 95px;
    background-image: url('/assets/images/card.jpg');
    border-radius: 4px;
    transform: scale(1.5);
    box-shadow: 2px 3px 4px #000;

    @for $i from 1 through 13 {
        &.diamond#{$i} {
            background-position: #{$i * -67}px 0;
        }
        &.club#{$i} {
            background-position: #{$i * -67}px -115px;
        }
        &.heart#{$i} {
            background-position: #{$i * -67}px -228px;
        }
        &.spade#{$i} {
            background-position: #{$i * -67}px -339px;
        }
    }
}
