.player-wrap {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .card-box {
    width: 800px;
    height: 350px;
    margin-left: -120px;
    .photo {
      margin-right: 40px;
    }
  }
}
